    .card {
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .table th, .table td {
    vertical-align: middle;
    text-align: center;
  }
  
  .bg-custom-warning {
    background-color: #fd7401; /* Couleur personnalisée pour l'en-tête */
  }
  
  .btn-primary[disabled] {
    background-color: #cccccc; /* Griser le bouton "Payer" */
    border-color: #cccccc;
    cursor: not-allowed;
  }
  
  .page-item.active .page-link {
    background-color: #ff9800;
    border-color: #ff9800;
  }
  
  .modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Assombrit l'arrière-plan */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  
  .modal-content {
    background: white;
    width: 50%; /* Augmente la largeur du modal */
    max-width: 600px; /* Limite la taille max */
    padding: 20px;
    border-radius: 10px;
    text-align: center;
  }
  
  .payment-options {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
  }
  
  .option {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px; /* Espace entre l'image et le bouton */
  }
  
  .option img {
    width: 80px; /* Taille des icônes de paiement */
    height: auto;
  }
  
  .option button {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
  }
  
  .wave-btn {
    background-color: #0099ff;
    color: white;
  }
  
  .om-btn {
    background-color: #ff6600;
    color: white;
  }
  
  .cash-btn {
    background-color: #4caf50;
    color: white;
  }
  
  .option button:hover {
    opacity: 0.8;
  }
  
  .btn-custom-orange {
    background-color: #fd7401; /* Couleur orange personnalisée */
    border-color: #fd7401;
    color: white;
  }
  
  .btn-custom-orange:hover {
    background-color: #e06900; /* Couleur plus foncée pour l'effet de survol */
    border-color: #e06900;
  }
  
  .btn-custom-orange:disabled {
    background-color: #cccccc; /* Griser le bouton lorsqu'il est désactivé */
    border-color: #cccccc;
    cursor: not-allowed;
  }
  
  .text-custom-orange {
    color: #fd7401; /* Couleur orange pour le texte */
  }
  
  .page-item.active .page-link {
    background-color: #fd7401;
    border-color: #fd7401;
    color: white;
  }
  

  

  
  /* Ajoutez ces règles pour la sidebar et le contenu principal */
  .dashboard-layout {
    display: flex;
    min-height: 80vh;
  }
  
  app-sidebar {
    position: fixed;
    left: 0;
    height: 100vh;
    width: 400px; /* Ajustez selon la largeur de votre sidebar */
    z-index: 1000;
  }
  
  /* Ajustez le contenu principal pour la sidebar fixe */
  .main-content {
    margin-left: 400px; /* Même valeur que la largeur de la sidebar */
    width: calc(100% - 400px);
  }
  
  