<div class="login-container">
  <div class="left-side">
    <img src="logo.png" alt="Logo" class="logo">

    <!-- Section de connexion normale -->
    <div *ngIf="!showPasswordReset">
      <h1>Connexion</h1>
      <div class="lock-icon">
        <i class="fas fa-lock"></i>
      </div>
      <p class="auth-text">Veuillez vous authentifier par code en saisissant votre code d'accès</p>
      <p class="rfid-text">ou par carte RFID : Approchez votre carte du lecteur</p>

      <div class="code-inputs">
        <input
          [disabled]="isLocked"
          type="password"
          maxlength="1"
          (input)="goToNext($any($event).target, 1)"
          #input1
          inputmode="numeric"
          pattern="[0-9]*"
          autocomplete="off"
        >
        <input
          [disabled]="isLocked"
          type="password"
          maxlength="1"
          (input)="goToNext($any($event).target, 2)"
          #input2
          inputmode="numeric"
          pattern="[0-9]*"
          autocomplete="off"
        >
        <input
          [disabled]="isLocked"
          type="password"
          maxlength="1"
          (input)="goToNext($any($event).target, 3)"
          #input3
          inputmode="numeric"
          pattern="[0-9]*"
          autocomplete="off"
        >
        <input
          [disabled]="isLocked"
          type="password"
          maxlength="1"
          (input)="goToNext($any($event).target, 4)"
          #input4
          inputmode="numeric"
          pattern="[0-9]*"
          autocomplete="off"
        >
      </div><br>

      <div *ngIf="errorMessage" class="error-message">{{errorMessage}}</div>
      <div *ngIf="isLocked" class="lock-message">
        <div class="progress-container">
          <div class="progress-bar" [style.width.%]="progress"></div>
        </div>
        <p>Compte bloqué pendant {{lockTime}} secondes</p>
      </div>
      <p>
        Si vous avez oublié votre code, veuillez cliquer sur
        <a href="#" class="forgot-link" (click)="togglePasswordReset($event)">Code secret oublié</a>
      </p>
    </div>

    <!-- Section de réinitialisation de mot de passe -->
    <div *ngIf="showPasswordReset" class="password-reset">
      <h1>Réinitialisation du Code Secret</h1>
      <p>Veuillez entrer votre adresse email pour recevoir un code de réinitialisation.</p>
      <input
        type="email"
        [(ngModel)]="resetEmail"
        class="form-control"
        placeholder="Email"
        [disabled]="isSending"
        (keyup)="validateEmail()"
      >
      <div *ngIf="resetMessage" class="reset-message" [ngClass]="{'text-success': isSuccess, 'text-danger': !isSuccess}">
        {{ resetMessage }}
      </div>

      <div class="buttons-container">
        <button
          class="btn btn-primary"
          (click)="sendResetCode()"
          [disabled]="isSending || !resetEmail">
          Envoyer le Code
        </button>

        <button
          class="btn btn-back"
          (click)="togglePasswordReset()">
          Retour à la Connexion
        </button>
      </div>

      <span class="button-spacer"></span> <!-- Ajout d'un espace entre les boutons -->
      <button
        *ngIf="showResend"
        class="btn btn-secondary"
        (click)="resendCode()"
        [disabled]="isResendDisabled"
      >
        Renvoyer le Code
      </button>
    </div>
  </div>

  <!-- Partie droite avec l'avatar agrandi -->
  <div class="right-side">
    <img src="avatar.png" alt="Avatar" class="avatar">
  </div>
</div>

<!-- Footer -->
<footer class="footer">
  Copyright © 2025 KAARANGE TRAFIC. Tous Droits Réservés
</footer>
