.bg-orange {
  background-color: #ff6600;
  padding: 10px;
}

.search-bar {
  flex-grow: 1;
  max-width: 400px; /* Limite la largeur de la barre de recherche */
}

.navbar-icons {
  display: flex;
  align-items: center;
}

.notification-icon {
  color: white;
  font-size: 1.5rem;
  margin-right: 20px;
  position: relative;
}

.notification-icon .badge {
  position: absolute;
  top: -10px;
  right: -10px;
}

.user-profile {
  display: flex;
  align-items: center;
}

.user-profile img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

.user-profile span {
  color: white;
  font-weight: bold;
}

.temporary-notification {
  position: fixed;
  top: 60px;
  right: 20px;
  background-color: #ffcc99;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}
