<div class="dashboard-layout">
  <!-- Sidebar -->
  <app-sidebar></app-sidebar>

  <!-- Main Content -->
  <div class="main-content">
    <!-- Navbar -->
    <app-navbar></app-navbar>

    <!-- Contenu Principal -->
    <div class="dashboard-container container mt-4">
      <div class="card">
        <div class="card-header bg-custom-warning text-white text-center">
          <h4 class="mb-0">Historique des Amendes</h4>
        </div>
        <div class="card-body">
          <!-- Conteneur pour les inputs en ligne -->
          <div class="d-flex justify-content-between mb-4">
            <!-- Recherche par plaque_matriculation, prénom, nom -->
            <div class="input-group input-group-30">
              <div class="input-group-prepend">
                <span class="input-group-text"><i class="fas fa-search"></i></span>
              </div>
              <input type="text" class="form-control" placeholder="Recherche par plaque_matriculation, prénom, nom" aria-label="Recherche par plaque_matriculation, prénom, nom" (input)="onSearchChange($event)">
            </div>

            <!-- Filtre par date -->
            <div class="input-group input-group-width-30">
              <div class="input-group-prepend">
                <span class="input-group-text"><i class="fas fa-calendar-alt"></i></span>
              </div>
              <label for="searchDateInput" class="sr-only">Filtrer par date</label>
              <input
                id="searchDateInput"
                type="date"
                class="form-control"
                [(ngModel)]="searchDate"
                (change)="onDateChange($event)"
                title="Filtrer par date"
                placeholder="Sélectionnez une date"
              >
            </div>

            <!-- Bouton pour choisir un mois et exporter en Excel -->
            <div class="input-group input-group-width-30">
              <div class="input-group-prepend">
                <span class="input-group-text"><i class="fas fa-file-excel"></i></span>
              </div>
              <select class="form-control" [(ngModel)]="selectedMonth" (change)="onMonthChange($event)" aria-label="Sélection du mois pour l'export Excel">
                <option value="">Sélectionnez un mois</option>
                <option value="01/{{ currentYear }}">Janvier</option>
                <option value="02/{{ currentYear }}">Février</option>
                <option value="03/{{ currentYear }}">Mars</option>
                <option value="04/{{ currentYear }}">Avril</option>
                <option value="05/{{ currentYear }}">Mai</option>
                <option value="06/{{ currentYear }}">Juin</option>
                <option value="07/{{ currentYear }}">Juillet</option>
                <option value="08/{{ currentYear }}">Août</option>
                <option value="09/{{ currentYear }}">Septembre</option>
                <option value="10/{{ currentYear }}">Octobre</option>
                <option value="11/{{ currentYear }}">Novembre</option>
                <option value="12/{{ currentYear }}">Décembre</option>
              </select>
              <div class="input-group-append">
                <button class="btn btn-outline-success" type="button" (click)="exportToExcel()">
                  <i class="fas fa-file-export"></i> Exporter en Excel
                </button>
              </div>
            </div>
          </div>

          <!-- Afficher le message d'erreur -->
          <div *ngIf="noResultsMessage" class="alert alert-warning mt-3">
            {{ noResultsMessage }}
          </div>

  <table class="table table-striped table-bordered text-center">
  <thead class="table-light">
    <tr>
      <th>Plaque d'immatriculation</th>
      <th>Prénom et Nom</th>
      <th>Date</th>
      <th>Montant</th>
      <th>Heure</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let historique of filteredHistoriques | paginate: { itemsPerPage: 10, currentPage: currentPage }">
      <td>{{ historique.plaque_matriculation }}</td>
      <td>{{ historique.prenom }} {{ historique.nom }}</td>
      <td>{{ historique.date }}</td>
      <td>{{ historique.montant }} Francs CFA</td>
      <td>{{ historique.heure }}</td>
      <td>{{ historique.action }}</td>
    </tr>
  </tbody>
</table>

<!-- Pagination -->
<div class="pagination-container d-flex justify-content-center mt-3">
  <nav>
    <ul class="pagination">
      <li class="page-item" [class.disabled]="currentPage === 1">
        <a class="page-link text-custom-orange" href="javascript:void(0)" (click)="changePage(currentPage - 1)">Précédent</a>
      </li>
      <li class="page-item" [class.active]="currentPage === (idx + 1)" *ngFor="let i of [].constructor(totalPages); let idx = index">
        <a class="page-link text-custom-orange" href="javascript:void(0)" (click)="changePage(idx + 1)">{{ idx + 1 }}</a>
      </li>
      <li class="page-item" [class.disabled]="currentPage === totalPages">
        <a class="page-link text-custom-orange" href="javascript:void(0)" (click)="changePage(currentPage + 1)">Suivant</a>
      </li>
    </ul>
  </nav>
</div>


  </div>
</div>